@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@300;400;600&display=swap');

:root{
   
--VeryDarkBlueBG: hsl(217, 54%, 11%);
--VeryDarkBlueCard:  hsl(216, 50%, 16%);
--VeryDarkBlueLine: hsl(215, 32%, 27%);
--White: hsl(0, 0%, 100%);
--Cyan:hsl(178, 100%, 50%);
--SoftBlue:hsl(215, 51%, 70%);
}

html{
    box-sizing: border-box;
}

body{
    background: var(--VeryDarkBlueBG);
    font-family: 'Outfit', sans-serif;

}

h2{
    font-weight:600;
   font-size:20px;
   text-align: left;
   color:var(--White);
   margin-top:25px;
   
}


h2:hover{
   color:var(--Cyan);
   cursor:pointer;
   
}

span{
    font-size:18px;
    text-align: left;
    color: var(--SoftBlue);
    font-weight:300;
    margin-bottom:8px;
}



.nft-container{
 
   display:flex;
    flex-direction: column;
    width:250px;
    border-radius:18px;
    padding:18px;
    background: var(--VeryDarkBlueCard);
    margin-top:150px;
    box-shadow:2px;

}



div {
    display: block;
    margin:auto;
    
}



.attribution{
 margin-top:150px;    
}

.info-nft{
    display:flex;
width:100%;
}

.days{
    text-align: right;
    flex:1;
    color:var(--SoftBlue)
    
}

.price{
    color:var(--Cyan)
}

.price img, .days img{
    position: relative;
    top: 3px;
    right: 5px;
}

.author{
    text-align:left;
    color:var(--SoftBlue);
    font-size:15px;
}

.author img{
    width:10%;
    vertical-align: middle;
    margin-right:10px;
    padding:1.5px;
    background-color: #fff;
    border-radius:50%;
    
}

a{
    color:white;
    text-decoration: none;
    
}

a:hover{
    color:var(--Cyan);
}

.overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: .3s ease;
    background-color: #00FFF74F;
  }

.container:hover .overlay {
    opacity: 1;
    border-radius: 8px;
    cursor:pointer;


  }
  
  .container:hover .overlay img  {
    color: white;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    opacity: 1 !important;
   }

   .container .overlay img{
       opacity:0;
   }



  
  .container {
    position: relative;
    width: 100%;
    max-width: 400px;
  }

  

.img-first{
    width:100%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    border-radius: 8px;
    
}
